.item:not(:last-child) {
  margin-bottom: 15px;
}

.formItem {
  composes: item;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn {
  background-color: #ff0000;
  width: 30px;
  height: 30px;
}
