.form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  width: 400px;
}

.btn {
  width: 58px;
  height: 58px;
  border-radius: 0;
  padding: 10px;
  margin-top: 15px;
}

.serchBtn {
  composes: btn;
}

.clearBtn {
  composes: btn;
  background-color: red;
}
